DATABASE_URL=
POSTGRES_USER=postgres
POSTGRES_PASSWORD=passwordDB
POSTGRES_DB=ttu2
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# JWT Configuration
JWT_SECRET_KEY=your-super-secret-jwt-key-change-in-production
JWT_ACCESS_TOKEN_EXPIRES=3600
JWT_REFRESH_TOKEN_EXPIRES=2592000

# Flask Configuration
FLASK_APP=main.py
FLASK_ENV=development
SECRET_KEY=your-flask-secret-key-change-in-production

# File Upload Configuration
UPLOAD_FOLDER=storage/uploads
UPLOAD_SIGNED=storage/signed 
MAX_CONTENT_LENGTH=16777216  
ALLOWED_EXTENSIONS=pdf,doc,docx,jpg,jpeg,png

# QR Code Configuration
QR_CODE_FOLDER=storage/uploads/qr_codes

# File Storage Path
SIGNATURE_PATH=storage/signatures
DOCUMENT_PATH=storage/documents
QR_CODE_PATH=storage/qr_codes

#File Storage Back
DOCUMENT_PERMOHONAN_TTD_PATH = storage/signed/permohonan_ttd


# FRONTEND_URL=http://192.168.68.62:5173


FRONTEND_URL=http://localhost:5173


# BELUM
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

#Send Email
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USE_SSL=False
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=